@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700|Oswald:700|Roboto:100,300,400');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

header{
	width: 100%;
	height: 50px;
	background: #ffffff;
}

.navbar-fixed-top{
	width: 100%;
	height: 50px;
	background: #ffffff;
	padding-top: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h1 {
	margin: 0;
	font-size: 70px;
	font-family: 'Crimson Text', serif;
	font-weight: bolder;
	color: #ffffff;
	text-align: center;
}

h3 {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	color: white;
	text-align: center;
}

#bmx{
	width: 100%;
	background: url(../img/bmx.jpg)no-repeat center center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}


#txt_bmx{
	background: #ffffff;
}

.logo {
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
}

.logo a:link, .logo a:visited {
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 2px;
}

.logo span {
	font-size: 15px;
}

#hipster {
	width: 100%;
	background: url(../img/long_way.jpg)no-repeat center center;
	background-size: cover;
	padding-top: 250px;
	padding-bottom: 250px;
}

#galeria {
	width: 100%;
}

.col {
	position:relative;
	height: 20vw;
	overflow: hidden;
	cursor: pointer;
}

.col:hover > img {
	transform: translate(-50%, -50%) scale(1.1);
	transition: transform 0.8s;
}

.col:hover > .overlay {
	opacity: 1;
	transition: opacity: 0.8s;
}
.carousel-inner{
	height: 20vw;
	overflow: hidden;
	cursor: pointer;
}

.col img {
	position: absolute;
	height: 60vw;
	width: auto;
	left: 60%;
	top: 60%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 0.8s;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.8s;
}

.overlay-violet {
	background: rgba(46, 64, 134, 0.5);
}

.overlay-red {
	background: rgba(203, 76, 91, 0.5);
}

.overlay-green {
	background: rgba(0, 255, 0, 0.5);
}

.overlay-gold {
	background: rgba(175, 150, 95, 0.5);
}

.overlay-blue {
	background: rgba(79, 139, 197, 0.5);
}

@media (max-width: 1200px){
	.centrado {
		width: 100%;
	}
}

.mitad:nth-child(2){
	padding-left: 20px;
}


.fa{
	margin-left: 40px;
}

.fa:first-child{
	margin-left: 0px;
 }



footer {
	color: white;
	background: #333333;
	width: 100%;
	height: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer a{
	color: white;
}

.btn-custom{
	color: black;
}




